body {
  position: relative;
  color:dimgray;
  font-size: 0.75rem;
  background-color: whitesmoke;
  width: 85%;
  margin: auto;

}

h1, h2{
  font-size: 1rem;
  color:black;
}

/* header */
header {
  margin-top: 50px;
  margin-bottom: 50px;
}
.grid-container {
  display: grid;
  grid-gap: 25px; 
  
}

/* card */
.card {
  background-color: #fff;
  border: 2px solid lightgray;
  border-radius: 10px;
  display: flex;
  padding: 25px;
  
}

.text-container {
  padding: 0 20px;
}

/* avatar */
.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;

}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0.4);
}

.modal {
  width: 375px;
  margin: 15% auto auto;
  text-align: center;
  background: #fff;
  border: 1px solid #778;
  border-radius: 5px;
  padding: 30px 20px;
  position: relative;
  text-align: center;
}

.modal-close {
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
}
.hidden {
  display: none;
}


@media (min-width: 768px) {

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    
    
  }

  
}
  

